.icon
    background-size 100%
.icon-index
    background-image url('../svg/index.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.router-link-exact-active .icon-index
    background-image url('../svg/index1.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.icon-found
    background-image url('../svg/fx.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.router-link-exact-active .icon-found
    background-image url('../svg/fx1.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.icon-cart
    background-image url('../svg/cart.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.router-link-exact-active .icon-cart
    background-image url('../svg/cart1.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.icon-my
    background-image url('../svg/my.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.router-link-exact-active .icon-my
    background-image url('../svg/my1.svg')
    display block
    width: 23px
    height: 23px
    margin: 5px auto 3px

.icon-tuanzhang
    background-image url('../svg/tuanz.svg')
    display block
    width: 20px
    height: 16px
    margin: 0 auto 3px

.icon-dls
    background-image url('../svg/dailishang.svg')
    display block
    width: 20px
    height: 22px

.icon-ghs
    background-image url('../svg/gonghuoshang.svg')
    display block
    width: 20px
    height: 24px

.icon-link
    background-image url('../svg/arrow.svg')
    display block
    width 16px
    height 16px

.icon-dfh
    background-image url('../svg/daifahuo.svg')
    display block
    width 24px
    height 24px
    margin 14px auto 5px

.icon-dsh
    background-image url('../svg/daishouhuo.svg')
    display block
    width 24px
    height 24px
    margin 14px auto 5px

.icon-dpj
    background-image url('../svg/daipingjia.svg')
    display block
    width 24px
    height 24px
    margin 14px auto 5px

.icon-ywc
    background-image url('../svg/yiwancheng.svg')
    display block
    width 24px
    height 24px
    margin 14px auto 5px

.icon-setting
    background-image url('../svg/setting.svg')
    display block
    width 24px
    height 24px
    margin-right 10px

.icon-redcart
    background-image url('../svg/gwc1.svg')
    display block
    width 20px
    height 20px

.icon-location
    background-image url('../svg/wz.svg')
    display block
    width 16px
    height 18px
    margin-right 5px

.icon-close
    background-image url('../svg/close.svg')
    display inline-block
    text-align right
    width 20px
    height 20px
    margin-right 15px
    margin-top 10px

.isCheckall .icon-check,
.active.icon-check
    background-image url('../svg/xz.svg')
    display block
    width 20px
    height 20px

.icon-check
    background-image url('../svg/wxz.svg')
    display block
    width 20px
    height 20px
    margin-right 5px

.icon-express
    background-image url('../svg/che.svg')
    display block
    width 24px
    height 18px
    margin-right 10px

.icon-add
    background-image url('../svg/add.svg')
    display block
    width 18px
    height 18px


.icon-minus
    background-image url('../svg/minus.svg')
    display block
    width 18px
    height 18px

.icon-success
    background-image url('../svg/chenggong.svg')
    display block
    width 65px
    height 65px
    margin 0 auto 20px

.icon-faild
    background-image url('../svg/chenggong.svg')
    display block
    width 65px
    height 65px
    margin 60px auto 0