@import "./reset.styl"
@import "./icon.styl"
html,body,#app
  height 100%
#app
  background #f7f7f7
#nprogress 
  .bar
    background green
  .spinner-icon
    border-top-color green
    border-left-color green